{% extends "base.html" %}

{% block nav %}{% endblock %}

{% block body %}

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
	<h4 class="modal-title" id="myModalLabel">Add Video</h4>
</div>

<style>

	#filedrag
	{
		display: none;
		font-weight: bold;
		text-align: center;
		padding: 1em 0;
		margin: 1em 0;
		color: #555;
		border: 2px dashed #555;
		border-radius: 7px;
		cursor: default;
	}

	#filedrag.hover
	{
		color: #f00;
		border-color: #f00;
		border-style: solid;
		box-shadow: inset 0 3px 4px #888;
	}

	img
	{
		max-width: 100%;
	}

	pre
	{
		width: 95%;
		height: 8em;
		font-family: monospace;
		font-size: 0.9em;
		padding: 1px 2px;
		margin: 0 0 1em auto;
		border: 1px inset #666;
		background-color: #eee;
		overflow: auto;
	}

	#messages
	{
		padding: 0 10px;
		margin: 1em 0;
		border: 1px solid #999;
	}

	#progress p
	{
		display: block;
		width: 240px;
		padding: 2px 5px;
		margin: 2px 0;
		border: 1px inset #446;
		border-radius: 5px;
		background: #eee url("/static/css/images/progress.png") 100% 0 repeat-y;
	}

	#progress p.success
	{
		background: #0c0 none 0 0 no-repeat;
	}

	#progress p.failed
	{
		background: #c00 none 0 0 no-repeat;
	}

</style>

<form action="/videos/add/" method="post" id="upload" enctype="multipart/form-data"  role="form">
	
	<div class="modal-body">

		{% if form.errors %}
			<script>
				var ErrorString = "Input Error(s): "

				{% if form.title.errors %}
					var ErrorString = ErrorString + " Title: " + "{% for error in form.title.errors %}{{ error|escape }}{% endfor %}"
				{% endif %}

				{% if form.note.errors %}
					var ErrorString = ErrorString + " Note: " + "{% for error in form.note.errors %}{{ error|escape }}{% endfor %}"
				{% endif %}
				
				{% if form.video_type.errors %}
					var ErrorString = ErrorString + " Video Type: " + "{% for error in form.video_type.errors %}{{ error|escape }}{% endfor %}"
				{% endif %}
				
				{% if form.file.errors %}
					var ErrorString = ErrorString + " Video Upload: " + "{% for error in form.file.errors %}{{ error|escape }}{% endfor %}"
				{% endif %}

				window.location = "/videos/?alert=" + ErrorString;

			</script>
		{% endif %}
		

		{% csrf_token %} 

		<div class="form-group">
			{{ form.title.errors }}
			<label for="id_title">Title: </label>
    		<input class="form-control" id="id_title" name="title"  required placeholder="Enter title">
		</div>
		
		<div class="form-group">
			{{ form.note.errors }}
			<label for="id_note">Note: </label>
    		<input class="form-control" id="id_note" name="note" placeholder="Enter note">
		</div>
		
<!--
		<div class="form-group">
			{{ form.video_type.errors }}
			<label for="id_video_type">Type: </label>
			{{ form.video_type }}		
			<script>
				$('#id_video_type').addClass('form-control')
			</script>
		</div>
				
-->
		<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000000" />

		<div class="form-group">
			{{ form.file.errors }}
			<label for="id_file">Upload Video: </label>
			<input id="id_file" required accept="video/mp4" name="file" type="file" />
		</div>
		
		<div id="progress"></div>

		<div id="messages"></div>

	</div>

	<div class="modal-footer" id="submitbutton">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-default">Submit</button>
	</div>
	
</form>


<script>

(function() {

	// getElementById
	function $id(id) {
		return document.getElementById(id);
	}


	// output information
	function Output(msg) {
		var m = $id("messages");
		m.innerHTML = msg;
	}


	// file drag hover
	function FileDragHover(e) {
		e.stopPropagation();
		e.preventDefault();
		e.target.className = (e.type == "dragover" ? "hover" : "");
	}


	// file selection
	function FileSelectHandler(e) {

		e.preventDefault();
		//console.log($('#id_title').val());
		if ($('#id_title').val() == "" || $('#id_file').val() == "") {
			Output(
			"<p><font color='red'>Please fill in Title, Type and Video File fields before uploading</font></p>"
			);
		} else {
			Output(
				"<p>Commencing Upload</p>"
			);
			$('button').css("display", "none");
			// fetch FileList object
			var files = $('#id_file')[0].files || $('#id_file')[0].dataTransfer.files;

			// process all File objects
			for (var i = 0, f; f = files[i]; i++) {
				ParseFile(f);
				UploadFile(f);
			}
		}
	}


	// output file information
	function ParseFile(file) {

		Output(
			"<p>File information: <strong>" + file.name +
			"</strong> type: <strong>" + file.type +
			"</strong> size: <strong>" + file.size +
			"</strong> bytes</p>"
		);

		// display an image
		if (file.type.indexOf("image") == 0) {
			var reader = new FileReader();
			reader.onload = function(e) {
				Output(
					"<p><strong>" + file.name + ":</strong><br />" +
					'<img src="' + e.target.result + '" /></p>'
				);
			}
			reader.readAsDataURL(file);
		}

		// display text
		if (file.type.indexOf("text") == 0) {
			var reader = new FileReader();
			reader.onload = function(e) {
				Output(
					"<p><strong>" + file.name + ":</strong></p><pre>" +
					e.target.result.replace(/</g, "&lt;").replace(/>/g, "&gt;") +
					"</pre>"
				);
			}
			reader.readAsText(file);
		}

	}

	
	// using jQuery
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	
	
	
	function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	function sameOrigin(url) {
		// test that a given url is a same-origin URL
		// url could be relative or scheme relative or absolute
		var host = document.location.host; // host + port
		var protocol = document.location.protocol;
		var sr_origin = '//' + host;
		var origin = protocol + sr_origin;
		// Allow absolute or scheme relative URLs to same origin
		return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
			(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
			// or any other URL that isn't scheme relative or absolute i.e relative.
			!(/^(\/\/|http:|https:).*/.test(url));
	}
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
				// Send the token to same-origin, relative URLs only.
				// Send the token only if the method warrants CSRF protection
				// Using the CSRFToken value acquired earlier
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		}
	});


	// upload JPEG files
	function UploadFile(file) {
				
		var xhr = new XMLHttpRequest();
		
		if (xhr.upload && file.size <= $id("MAX_FILE_SIZE").value) {
			
			// create progress bar
			var o = $id("progress");
			var progress = o.appendChild(document.createElement("p"));
			progress.appendChild(document.createTextNode("upload " + file.name));


			// progress bar
			xhr.upload.addEventListener("progress", function(e) {
				var pc = parseInt(100 - (e.loaded / e.total * 100));
				progress.style.backgroundPosition = pc + "% 0";
			}, false);

			// file received/failed
			xhr.onreadystatechange = function(e) {
				if (xhr.readyState == 4) {
					progress.className = (xhr.status == 200 ? "success" : "failure");
					if(xhr.status == 200) {
						$('button').css("display", "block");
						window.location = '/videos/?success=Upload%20Successful';
					}
				}
			};

			// start upload
			
			xhr.open("POST", $id("upload").action, true);
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			xhr.setRequestHeader("X_FILENAME", file.name);	
			var formData = new FormData($('form')[0])
			console.log(formData);
			xhr.send(formData);

		}

	}


	// initialize
	function Init() {

		var fileselect = $("#id_file"),
			submitbutton = $("#submitbutton");

		// file select
		submitbutton.on("click", FileSelectHandler);
			
		// is XHR2 available?
		var xhr = new XMLHttpRequest();
	}

	$(document).ready(function() {
		Init();
	})

})();
</script>										  
										  

{% endblock %}

{% block footer %}{% endblock %}