{% extends "base.html" %}

{% block content %}


	<style>
		.video-list { list-style: none; padding: 0px; max-height: 400px; overflow-y: auto }
		.sub-list { list-style: none; padding: 0px; }
		.video-list>li { padding: 5px 15px; font-size: 18px; cursor: pointer}
		.video-list>li:nth-child(odd) { background-color: #222 }
		.tabbed-over { padding-left: 0px; color: #dedede }
		.video-title { font-weight: bold; padding-bottom: 5px; }
		.video-archives { font-size: 20px; }
	</style>

	<script>
		$(document).ready(function () {
			$( "#video-nav" ).addClass("active")
		});
	</script>


<div class="row black-on-white">

	{% if request.GET.alert %}
	<div class="col-md-12">
		<div class="alert alert-danger" role="alert">
			{{ request.GET.alert }}
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		</div>
	</div>
	{% endif %}
	
	
	{% if request.GET.success %}
	<div class="col-md-12">
		<div class="alert alert-success" role="alert">
			{{ request.GET.success }}
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		</div>
	</div>
	{% endif %}
	
	
	<div class="row">
		
	<div class="col-xs-12">
		
		<h3>Videos <span class="pull-right"><a data-toggle="modal" href="/videos/add/" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span></h3>
	
	</div>
		
		
	<div class="col-xs-12 col-sm-8">
		{% for video in object_list %}
			{% if forloop.first %}
			<p><strong class="subhead" id="titlesource">{{ video.title }}</strong></p>
				<div class="center-block" align="center">						
					<video width="100%" height="auto" id="videosource" controls preload="auto" style="margin: auto; max-width: 800px; max-height: 400px">
					<source src="{{ video.video }}" id="mp4Source" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<img src="" id="photosource" class="img-responsive" style="display: none">
					<p id="notesource">{{ video.note }}</p>
					<br>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	
	<div class="col-xs-12 col-sm-4">
		<h2 class="video-archives"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp; Video Archives</h2>
	<ul class="video-list">
	{% for video in object_list %}
		<li>
			
			<div class="row">
				<div class="col-xs-3">
					<img src="{{ video.thumbnail }}" alt="{{ video.note }}" title="{{video.note}}" class="img-rounded img-responsive">
				</div>
				<div class="col-xs-9">
					<div class="video-title" onclick="ChangeVid('{{video.video}}', '{{video.note}}', '{{video.title}}')">
						{{video.title}}
					</div>	

					{% if video.note %}<p class="tabbed-over">{{video.note}}</p>{% endif %}

					<ul class="sub-list">
						{% for reply in video.replies %}
							<li onclick="ChangeVid('{{reply.video}}', '{{ reply.note|safe }}', '{{reply.title}}')"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> Video Reply {{reply.title}}</li>
						{% endfor %}
					</ul>


					<ul class="sub-list">
						{% for reply in video.photos %}
							<li onclick="ChangePhoto('{{reply.photo}}', '{{ reply.note|safe }}', '{{reply.title}}')"><span  class="glyphicon glyphicon-picture" aria-hidden="true"></span> Photo Reply {{ reply.title }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			
		</li>
	{% endfor %}
	</ul>
	<div class="clearfix"></div>

	</div>	
		
		
	</div>
		

		
	<script>
		function ChangeVid(video, note, title) { 					
			var player = document.getElementById('videosource')
			var mp4vid = document.getElementById('mp4Source');
			var photo = document.getElementById('photosource');
			
			player.pause();
			
			$('#videosource').css("display", "block");
			$('#photosource').css("display", "none");
			$('#notesource').html(note);
			$('#titlesource').html(title);
			$("html, body").scrollTop($(".black-on-white").offset().top);

			$(mp4vid).attr('src', video);
			player.load();
			player.play();
		}
		
		function ChangePhoto(photo, note, title) { 					
			var player = document.getElementById('videosource')
			player.pause();
			
			$('#videosource').css("display", "none");
			$('#photosource').css("display", "block");
			$('#photosource').attr('src', photo);
			$('#notesource').html(note);
			$('#titlesource').html(title);
			$("html, body").scrollTop($(".black-on-white").offset().top);
			
		}
	</script>
	
</div>	
	
				
</div>

{% endblock %}
