{% extends "base.html" %} {% block content %}

<script>
	$(document).ready(function () {
		$("#workout-nav").addClass("active")
	});
</script>


<div class="row black-on-white">
	
	<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Performance Workout</li>
</ol>

	
	
	<div class="col-md-12">
		<div class="row">
			<div class="col-sm-12">
				<ul class="list-group">
					
					<li class="list-group-item"><a href="/workout/warmup/">
						<span class="badge pull-right">
					{% for cat, count in cats.items %}
						{% ifequal cat 'WARM' %}
							{{count}}
						{% endifequal %}
					{% endfor %}</span> Warmup Routines</a></li>
					
					<li class="list-group-item"><a href="/workout/core/">
						<span class="badge pull-right">
						{% for cat, count in cats.items %}
						{% ifequal cat 'CORE' %}
							{{count}}
						{% endifequal %}
					{% endfor %}
						</span> Core Exercies</a></li>
					
					<li class="list-group-item"><a href="/workout/plyometric/">
						<span class="badge pull-right">
						{% for cat, count in cats.items %}
						{% ifequal cat 'PLYO' %}
							{{count}}
						{% endifequal %}
					{% endfor %}</span> Plyometric</a></li>
					
					<li class="list-group-item"><a href="/workout/videos/"><span class="badge pull-right">*</span> Video Library</a></li>
					
					<li class="list-group-item"><a href="/workout/workouts/"><span class="badge pull-right">
						{% for cat, count in cats.items %}
						{% ifequal cat 'GEN' %}
							{{count}}
						{% endifequal %}
					{% endfor %}</span> My Workouts</a></li>
					<li class="list-group-item"><a href="/workout/reports/"><span class="badge pull-right">*</span> Physical Therapy Reports</a></li>
				</ul>
			</div>	
		</div>
	</div>
</div>
{% endblock %}