{% extends "base.html" %} {% block content %}

<script>
	$(document).ready(function () {
		$("#workout-nav").addClass("active")
	});
</script>


<div class="row black-on-white">
	
	<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Performance Workout</li>
</ol>

	{% if request.GET.alert %}
	<div class="col-md-12">
		<div class="alert alert-danger" role="alert">
			{{ request.GET.alert }}
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
		</div>
	</div>
	{% endif %} {% if request.GET.success %}
	<div class="col-md-12">
		<div class="alert alert-success" role="alert">
			{{ request.GET.success }}
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
		</div>
	</div>
	{% endif %}

	<div class="col-md-12">
		
		
		<div class="row">
			
			<div class="col-sm-12 col-md-6">
				<a href="/workout/warmup/">Warmup Routines</a><br>
				<a href="/workout/core/">Core Exercies</a><br>
				<a href="/workout/plyometric/">Plyometric</a><br>
				<a href="/workout/videos/">Video Library</a><br>
				<a href="/workout/workouts/">My Workouts</a><br>
				<a href="/workout/reports/">Physical Therapy Reports</a><br>
			</div>	

		</div>
	</div>
</div>
{% endblock %}