{% extends "base.html" %} 

{% load get_range %}

{% block content %}

<script>
	$(document).ready(function () {
		$("#workout-nav").addClass("active")
	});
</script>


<div class="row black-on-white">

	{% if request.GET.alert %}
	<div class="col-md-12">
		<div class="alert alert-danger" role="alert">
			{{ request.GET.alert }}
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
		</div>
	</div>
	{% endif %} {% if request.GET.success %}
	<div class="col-md-12">
		<div class="alert alert-success" role="alert">
			{{ request.GET.success }}
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
		</div>
	</div>
	{% endif %}

	<div class="col-md-12">
		
		

		
		
	<h3>{{  object.name }} <span class=" pull-right"></h3>	

	<!-- FIRST TABLE -->
  		<div class="row">
  			<div class="col-sm-12 column" id='cats'>
				
					{% csrf_token %}
						{% for week in object.weeks %}
						
						{% ifequal week.workout_week "1" %}
						<table class="table table-bordered table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th class="col-xs-2 col-md-2">
									Name
								</th>
								<th class="col-xs-2 col-md-2">
									Week
								</th>
								<th class="col-xs-2 col-md-2">
									Sets
								</th>
								<th class="col-xs-2 col-md-2">
									Reps
								</th>
								<th class="col-xs-2 col-md-2">
									Rest
								</th>
								<th class="col-xs-2 col-md-2">
									Tempo
								</th>
<!--
								<th class="col-xs-2 col-md-2">
								 	
								</th>
-->
							</tr>
						</thead>
						{% endifequal %}
			
  						<tr>
  							<td class="col-xs-2 col-md-2">
								{{ week.name }}
  							</td>
  							<td class="col-xs-2 col-md-2">
  								{{ week.workout_week }}
  							</td>				
  							<td class="col-xs-2 col-md-2">
  								{{ week.set_number }}
  							</td>
  							<td class="col-xs-2 col-md-2">
  								{{ week.reps }}
  							</td>
  							<td class="col-xs-2 col-md-2">
  								{{ week.rest_time }}
  							</td>
  							<td class="col-xs-2 col-md-2">
  								{{ week.tempo }}
  							</td>
<!--							<td><a onclick="showRow({{ week.set_number}}, {{ week.id }}, '{{ week.result_array }}')"><span class="glyphicon glyphicon-circle-arrow-down"></span></a></td>-->
  						</tr>
							
						<tr id="sets_{{week.id}}">
							<td colspan="7">
								<table>
									<tr>
										<td>
											<span class="pull-left"><a data-toggle="modal" href="{% url 'workout_week_view' pk=week.id %}" data-target="#modal"><span class="glyphicon glyphicon-edit"></span> </a></span> &nbsp;
											<span id="set_{{week.id}}" name="set_{{week.id}}" style="width:40px; text-align: center; padding: 2px"></span>	
											<script>
												$(function() {
													showWeeks('{{week.set_number}}', '{{week.id}}', '{{week.result_array}}');
												});
											</script>
											
										</td>
									</tr>
								</table>
								
							</td>
						</tr>	
							
						{% ifequal week.workout_week "4" %}
							</table>
						{% endifequal %}	
				
						{% endfor %}
  				

  			</div>

	</div>
</div>
	
<script>
	
	function showWeeks(set_number, week, result_array){
		// get previous values and fill out form...
		if(result_array == "None"){
			set_string = "";
		} else {
			vals = result_array.split("|");
			set_string = "<b>Week " + week + " Sets: </b> &nbsp; &nbsp;";
			$.each(vals, function( index, value ) {
				set_string += " <span> <b>Set " + (index+1) + ":</b> " + value + " &nbsp; &nbsp;</span>" ;
			});
		}
		var elem = document.getElementById('set_' + week);
		elem.innerHTML = set_string;
	}
	
	$(document).ready(function() {
		$('.popover-btn').popover()
	});
</script>

{% endblock %}