{% extends "base.html" %} 

{% load get_range %}

{% block content %}

<script>
	$(document).ready(function () {
		$("#workout-nav").addClass("active");
		
		$('a').click(function(e) {
			var elem = $($(e.target)[0]).parent();
			if ($(elem).attr('data-toggle') === 'modal') {
				e.preventDefault();
				$('#modal div.modal-content').load($(elem).attr('href'));
			}
		});
	});

</script>



<div class="row black-on-white">
	
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/workout/">Performance Workout</a></li>
  <li><a href="/workout/workouts/">My Workouts</a></li>
  <li class="active">{{  object.name }}</li>
</ol>


	{% if request.GET.alert %}
	<div class="col-md-12">
		<div class="alert alert-danger" role="alert">
			{{ request.GET.alert }}
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
		</div>
	</div>
	{% endif %} {% if request.GET.success %}
	<div class="col-md-12">
		<div class="alert alert-success" role="alert">
			{{ request.GET.success }}
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
		</div>
	</div>
	{% endif %}

	<div class="col-md-12">
		
	

		
		
	<h3>{{  object.name }} <span class=" pull-right"></h3>	

		
		
		{% ifequal object.exercise_category "WARM" %}
				<div class="row">
  			<div class="col-sm-12 column" id='cats'>
				
					{% csrf_token %}
						{% for week in object.fullsheet %}


						<div class="row workoutheader {% ifchanged week.group_order %}{% else %}visible-xs{% endifchanged %}">
							<div class="col-xs-6 col-sm-4 borderright">
								Name
							</div>
							<div class="col-xs-2 col-sm-1 borderright">
								Sets
							</div>
							<div class="col-xs-2 col-sm-1">
								Reps
							</div>
						</div>

  						<div class="row workoutbody">
							<div class="col-xs-6 col-sm-4 borderright">
								<a href="{% url 'workout_videos_by_id' pk=week.name.id %}">{{ week.name }}</a>							
  							</div>		
  							<div class="col-xs-2 col-sm-1 borderright">
								{% if week.set_number %}{{ week.set_number }}{% endif %}
  							</div>
							<div class="col-xs-2 col-sm-1 ">
								{{ week.reps }}
  							</div>
				
  						</div>
						{% endfor %}

  			</div>

	</div>
		
		
		{% else %}
		
	<!-- FIRST TABLE -->
  		<div class="row">
  			<div class="col-sm-12 column" id='cats'>
				    <div class="tabButtons">
                        <button type="button" class="btn btn-default">1</button>
                        <button type="button" class="btn btn-default">2</button>
                        <button type="button" class="btn btn-default">3</button>
                        <button type="button" class="btn btn-default">4</button>
                        <button type="button" class="btn btn-default">All</button>
                    </div>
					{% csrf_token %}
						{% for week in object.fullsheet %}

                        <div class="tab week-{{ week.workout_week }}">

                        <!--
						<div class="row workoutheader {% ifchanged week.group_order %}{% else %}visible-xs{% endifchanged %}">
							<div class="col-xs-6 col-sm-4 borderright">
								Name
							</div>
							<div class="col-xs-2 col-sm-1 borderright">
								Week
							</div>
							<div class="col-xs-2 col-sm-1 borderright">
								Sets
							</div>
							<div class="col-xs-2 col-sm-1">
								Reps
							</div>
							<div class="hidden-xs col-sm-5 noborder">
								Results
							</div>
						</div>
                        -->
						 
						{% ifchanged week.workout_week %}
						<div class="row workoutheader">
							<div class="col-xs-6 col-sm-4 borderright">
								Name
							</div>
							<div class="col-xs-2 col-sm-1 borderright">
								Week
							</div>
							<div class="col-xs-2 col-sm-1 borderright">
								Sets
							</div>
							<div class="col-xs-2 col-sm-1">
								Reps
							</div>
							<div class="hidden-xs col-sm-5 noborder">
								Results
							</div>
						</div>
                        {% endifchanged %}

			
  						<div class="row workoutbody">
							<div class="col-xs-6 col-sm-4 borderright">
								{{ week.group }}{{ week.group_order }}) <a href="{% url 'workout_videos_by_id' pk=week.name.id %}">{{ week.name }}</a>
								
								
								<span class="pull-right"><a data-toggle="modal" href="{% url 'workout_week_view' pk=week.id %}" data-target="#modal"><span class="glyphicon glyphicon-edit"></span> </a></span> &nbsp;
								
								{% if week.rest_time %}
								<span class="pull-right">
									<a class="popover-btn" data-toggle="popover" title="Additional Info" data-content="{{ week.rest_time }}{% if week.tempo %} / {{ week.tempo }}{% endif %}"><span class="glyphicon glyphicon-info-sign"></span></a>										
									</a>
								</span>
								{% endif %}
							
  							</div>
                            <div class="col-xs-2 col-sm-1 borderright">
  								{{ week.workout_week }}
  							</div>				
  							<div class="col-xs-2 col-sm-1 borderright">
								{% if week.set_number %}{{ week.set_number }}{% endif %}
  							</div>
							<div class="col-xs-2 col-sm-1 ">
								{{ week.reps }}
  							</div>
  							<div class="col-xs-12 col-sm-5">
								<div class="row workoutheader visible-xs">
									<div class="col-xs-12">
										Results
									</div>
								</div>
								<table class="smalltable-bordered">
									<tr class="row workoutheader">
										<td class="col-xs-2">1</td>
										<td class="col-xs-2">2</td>
										<td class="col-xs-2">3</td>
										<td class="col-xs-2">4</td>
										<td class="col-xs-2">5</td>
										<td class="col-xs-2">6</td>
									</tr>
									<tr id="set_{{week.id}}" name="set_{{week.id}}" class="row">
										<td id="set_{{week.id}}_1" class="col-xs-2">-</td>
										<td id="set_{{week.id}}_2" class="col-xs-2">-</td>
										<td id="set_{{week.id}}_3" class="col-xs-2">-</td>
										<td id="set_{{week.id}}_4" class="col-xs-2">-</td>
										<td id="set_{{week.id}}_5" class="col-xs-2">-</td>
										<td id="set_{{week.id}}_6" class="col-xs-2">-</td>
									</tr>
								</table>
  							</div>
							<script>
									$(function() {
										showWeeks('{{week.set_number}}', '{{week.id}}', '{{week.result_array}}');
									});
								</script>
  						</div>

                        </div> <!-- end tab -->

						{% endfor %}

  			</div>

	</div>
	{% endifequal %}
</div>
</div>

	
<script>
    

    function weekTabs () {
        $('.tab').hide();
        $('div[class*=week-1]').show();

        $('.tabButtons').on('click', function (event) {
            if (event.target.tagName === "BUTTON") {
                var target =  $(event.target).text();
                if (target === 'All') {
                    $('.tab').show();
                } else {
                    $('.tab').hide();
                    var targstr = "div[class*=week-" + target + "]";
                    $(targstr).show();
                }
            }        
        });

    }
    
	
	function showWeeks(set_number, week, result_array){
		// get previous values and fill out form...
        if(result_array) {
			vals = result_array.split("|");
			$.each(vals, function( index, value ) {
				var elem = document.getElementById('set_' + week + "_" + (index+1));
				elem.innerHTML = value;
			});
		}
	}
	
	$(document).ready(function() {
		$('.popover-btn').popover();

        weekTabs();
	});
</script>

{% endblock %}
