{% extends "base.html" %}

{% block content %}

	<script>
		$(document).ready(function () {
			$( "#scout-nav" ).addClass("active")
		});
	</script>


<div class="row black-on-white">

		<h3>MyPinnacle Scout</h3>
	
	
	
	{% for ranking in rankings %}
	
	<style>
		#scout td { padding: 5px; text-align: center; }
		
		#scout td, #scout th { border: 1px solid #dedede }
		#scout .head { font-weight: bold; background-color: #303030; text-align: left; }
		#scout th { padding: 5px; text-align: center !important; font-size: 1.2em; }
		#scout .left { text-align: left; }
		
	</style>
	
		
	
	<div class="row">
		<div class="col-sm-12 col-sm-4">
		
			<table id="scout" class="table table-responsive">
			<tr>
				<th class="head" colspan="2">{{ ranking.account.user.first_name }} {{ ranking.account.user.last_name }}</th>
			</tr>
			<tr>
				<td class="head">Scout: </td>
				<td class="left">{{ ranking.scout }}</td>
			</tr>
			<tr>
				<td class="head">School: </td>
				<td class="left">{{ ranking.account.high_school }}</td>
			</tr>
			<tr>
				<td class="head">College: </td>
				<td class="left">{{ ranking.account.college }}</td>
			</tr>
			<tr>
				<td class="head">Grad Date: </td>
				<td class="left">{{ ranking.account.grad_year }}</td>
			</tr>
			<tr>
				<td class="head">Class/Eligibility: </td>
				<td class="left">{{ ranking.account.grad_class }}/{{ ranking.account.eligible }}</td>
			</tr>
			
			<tr>
				<td class="head">Club/Nat'l Team: </td>
				<td class="left">{{ ranking.account.club }}</td>
			</tr>
			<tr>
				<td class="head">Phone: </td>
				<td class="left">
					{% for personal in ranking.account.personals %}
						{{ personal.phone }}
					{% endfor %}
				</td>
			</tr>
			
			<tr>
				<td class="head">Address: </td>
				<td class="left">
					{% for personal in ranking.account.personals %}
						{{ personal.street }}<br>{{ personal.city }}, {{ personal.state }} {{ personal.zipcode }}
					{% endfor %}
				</td>
			</tr>
			</table>
		</div>
		
		
		
		
		<div class="col-sm-12 col-sm-4">
		
			<table id="scout" class="table table-responsive">
			<tr>
				<th colspan="2" class="head">Personal</th>
			</tr>
			<tr>
				<td class="head">Positions: </td>
				<td>{% for position in ranking.account.positions %}{% ifequal position.position_type "Primary" %}{% if forloop.first %}/{% endif %}{{ position.position }}{% endifequal %}{% endfor %}</td>
			</tr>
			<tr>
				<td class="head">DOB: </td>
				<td>{{ ranking.account.dob }}</td>
			</tr>
			<tr>
				<td class="head">Height: </td>
				<td>{% for height in ranking.account.heights %}{% if forloop.last %}{{ height.height_feet }}' {{ height.height_inches }}{% endif %}{% endfor %}</td>
			</tr>
			<tr>
				<td class="head">Weight: </td>
				<td>{% for weight in ranking.account.weights %}{% if forloop.last %}{{ weight.weight }}{% endif %}{% endfor %}</td>
			</tr>
			<tr>
				<td class="head">Bats: </td>
				<td>{{ ranking.account.bats }}</td>
			</tr>
			<tr>
				<td class="head">Throws: </td>
				<td>{{ ranking.account.throws }}</td>
			</tr>

			</table>
		</div>
		
		
		
		
		
		<div class="col-sm-12 col-sm-4">
		<table id="scout" class="table table-responsive">
			<tr>
				<th colspan="2" class="head">Scouting</th>
			</tr>
			<tr>
				<td class="head">Role: </td>
				<td>{{ ranking.role }}</td>
			</tr>
			<tr>
				<td class="head">OFP: </td>
				<td>{{ranking.ofp }}</td>
			</tr>
			<tr>
				<td class="head">Makeup: </td>
				<td>{{ ranking.makeup }}</td>
			</tr>
			<tr>
				<td class="head">Date Completed: </td>
				<td>{{ ranking.date_completed|date:'m/d/Y' }}</td>
			</tr>
			<tr>
				<td class="head">Report Count: </td>
				<td>{{ ranking.report_count }}</td>
			</tr>
			<tr>
				<td class="head">Games Seen: </td>
				<td>{{ ranking.games_seen }}</td>
			</tr>
			<tr>
				<td class="head">At Bats Seen: </td>
				<td>{{ ranking.ab_seen }}</td>
			</tr>
			
			<tr>
				<td class="head">Dates Seen: </td>
				<td colspan="3">{{ ranking.dates_seen }}</td>
			</tr>
	</table>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12 col-sm-4">
			<table id="scout" class="table table-responsive">
					<tr>
						<th class="head">Ratings</th>
						<th class="head">P</th>
						<th class="head">F</th>
					</tr>
				<tr>
					<td class="head">Hitting Ability:</td>
					<td>{{ ranking.ratings_hitting_ability_p }}</td>
					<td>{{ ranking.ratings_hitting_ability_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Raw Power:</td>
					<td>{{ ranking.ratings_raw_power_p }}</td>
					<td>{{ ranking.ratings_raw_power_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Game Power:</td>
					<td>{{ ranking.ratings_game_power_p }}</td>
					<td>{{ ranking.ratings_game_power_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Running Speed:</td>
					<td>{{ ranking.ratings_running_speed_p }}</td>
					<td>{{ ranking.ratings_running_speed_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Base Running:</td>
					<td>{{ ranking.ratings_base_running_p }}</td>
					<td>{{ ranking.ratings_base_running_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Arm Strength:</td>
					<td>{{ ranking.ratings_arm_strength_p }}</td>
					<td>{{ ranking.ratings_arm_strength_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Arm Accuracy:</td>
					<td>{{ ranking.ratings_arm_accuracy_p }}</td>
					<td>{{ ranking.ratings_arm_accuracy_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Fielding:</td>
					<td>{{ ranking.ratings_fielding_p }}</td>
					<td>{{ ranking.ratings_fielding_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Range:</td>
					<td>{{ ranking.ratings_range_p }}</td>
					<td>{{ ranking.ratings_range_f }}</td>
				</tr>
		</table>
		</div>	
		<div class="col-sm-12 col-sm-4">
			<table id="scout" class="table table-responsive">
					<tr>
						<th class="head" colspan="2">Running and Hitting</th>
					</tr>
				<tr>
					<td class="head">Hit Type:</td>
					<td>{{ ranking.hit_type }}</td>
				</tr>
			
				<tr>
					<td class="head">Hit Approach:</td>
					<td>{{ ranking.hit_approach }}</td>
				</tr>
			
				<tr>
					<td class="head">Time to 1B:</td>
					<td>{{ ranking.time_to_1b }}</td>
				</tr>
			
				<tr>
					<td class="head">Time to Right:</td>
					<td>{{ ranking.time_to_right }}</td>
				</tr>
		</table>
		</div>	
		<div class="col-sm-12 col-sm-4">
			<table id="scout" class="table table-responsive">
					<tr>
						<th class="head" colspan="2">Makeup</th>
					</tr>
				<tr>
					<td class="head">Athleticism:</td>
					<td>{{ ranking.makeup_athleticism }}</td>
				</tr>
			
				<tr>
					<td class="head">Aptitude:</td>
					<td>{{ ranking.makeup_aptitude }}</td>
				</tr>
			
				<tr>
					<td class="head">Character:</td>
					<td>{{ ranking.makeup_character }}</td>
				</tr>
			
				<tr>
					<td class="head">Dedication:</td>
					<td>{{ ranking.makeup_dedication }}</td>
				</tr>
			
				<tr>
					<td class="head">Instinct:</td>
					<td>{{ ranking.makeup_instinct }}</td>
				</tr>
			
				<tr>
					<td class="head">Aggressiveness:</td>
					<td>{{ ranking.makeup_aggressiveness }}</td>
				</tr>
			
				<tr>
					<td class="head">Confidence:</td>
					<td>{{ ranking.makeup_confidence }}</td>
				</tr>
			
				<tr>
					<td class="head">Maturity:</td>
					<td>{{ ranking.makeup_maturity }}</td>
				</tr>
			
				<tr>
					<td class="head">Competitiveness:</td>
					<td>{{ ranking.makeup_competitiveness }}</td>
				</tr>
		</table>
		</div>	
	</div>
	
	
		
			
		<table id="scout" class="table table-responsive">	
			<tr>
				<td class="head" colspan="6">Physical Description: (Injuries, Glasses, Contacts, Growth Potential, Overall Strength)</td>
			</tr>	
			<tr>
				<td colspan="6" class="left">{{ ranking.note }}</td>
			</tr>
			
			<tr>
				<td class="head" colspan="6">Abilities:</td>
			</tr>
			<tr>
				<td colspan="6" class="left">{{ ranking.note2 }}</td>
			</tr>
			
			<tr>
				<td class="head" colspan="6">Weaknesses:</td>
			</tr>
			<tr>
				<td colspan="6" class="left">{{ ranking.note3 }}</td>
			</tr>
			
			<tr>
				<td class="head" colspan="6">Signability and Player Summation:</td>
			</tr>
			<tr>
				<td colspan="6" class="left">{{ ranking.note4 }}</td>
			</tr>
			
		</table>
	
		
	{% endfor %}
	

{% endblock %}