{% extends "base.html" %}
{% block content %}

	<script>
		$(document).ready(function () {
			$( "#scout-nav" ).addClass("active")
		});
	</script>


<div class="row black-on-white">

		<h3>MyPinnacle Scout</h3>
	
	
	
	{% for ranking in rankings %}
	
	<style>
		#scout td { padding: 5px; text-align: center; }
		
		#scout td, #scout th { border: 1px solid #dedede }
		#scout .head { font-weight: bold; background-color: #303030; text-align: left; }
		#scout th { padding: 5px; text-align: center !important; font-size: 1.2em; }
		#scout .left { text-align: left; }
		
	</style>
	
		
	
	<div class="row">
		<div class="col-sm-12 col-sm-4">
		
			<table id="scout" class="table table-responsive">
			<tr>
				<th class="head" colspan="2">{{ ranking.account.user.first_name }} {{ ranking.account.user.last_name }}</th>
			</tr>
			<tr>
				<td class="head">Scout: </td>
				<td class="left">{{ ranking.scout }}</td>
			</tr>
			<tr>
				<td class="head">School: </td>
				<td class="left">{{ ranking.account.high_school }}</td>
			</tr>
			<tr>
				<td class="head">College: </td>
				<td class="left">{{ ranking.account.college }}</td>
			</tr>
			<tr>
				<td class="head">Grad Date: </td>
				<td class="left">{{ ranking.account.grad_year }}</td>
			</tr>
			<tr>
				<td class="head">Class/Eligibility: </td>
				<td class="left">{{ ranking.account.grad_class }}/{{ ranking.account.eligible }}</td>
			</tr>
			
			<tr>
				<td class="head">Club/Nat'l Team: </td>
				<td class="left">{{ ranking.account.club }}</td>
			</tr>
			<tr>
				<td class="head">Phone: </td>
				<td class="left">
					{% for personal in ranking.account.personals %}
						{{ personal.phone }}
					{% endfor %}
				</td>
			</tr>
			
			<tr>
				<td class="head">Address: </td>
				<td class="left">
					{% for personal in ranking.account.personals %}
						{{ personal.street }}<br>{{ personal.city }}, {{ personal.state }} {{ personal.zipcode }}
					{% endfor %}
				</td>
			</tr>
			</table>
		</div>
		
		
		
		
		<div class="col-sm-12 col-sm-4">
		
			<table id="scout" class="table table-responsive">
			<tr>
				<th colspan="2" class="head">Personal</th>
			</tr>
			<tr>
				<td class="head">Positions: </td>
				<td>{% for position in ranking.account.positions %}{% ifequal position.position_type "Primary" %}{% if forloop.first %}/{% endif %}{{ position.position }}{% endifequal %}{% endfor %}</td>
			</tr>
			<tr>
				<td class="head">DOB: </td>
				<td>{{ ranking.account.dob }}</td>
			</tr>
			<tr>
				<td class="head">Height: </td>
				<td>{% for height in ranking.account.heights %}{% if forloop.last %}{{ height.height_feet }}' {{ height.height_inches }}{% endif %}{% endfor %}</td>
			</tr>
			<tr>
				<td class="head">Weight: </td>
				<td>{% for weight in ranking.account.weights %}{% if forloop.last %}{{ weight.weight }}{% endif %}{% endfor %}</td>
			</tr>
			<tr>
				<td class="head">Bats: </td>
				<td>{{ ranking.account.bats }}</td>
			</tr>
			<tr>
				<td class="head">Throws: </td>
				<td>{{ ranking.account.throws }}</td>
			</tr>

			</table>
		</div>
		

		<div class="col-sm-12 col-sm-4">
		<table id="scout" class="table table-responsive">
			<tr>
				<th colspan="2" class="head">Scouting</th>
			</tr>
			<tr>
				<td class="head">Role: </td>
				<td>{{ ranking.role }}</td>
			</tr>
			<tr>
				<td class="head">OFP: </td>
				<td>{{ranking.ofp }}</td>
			</tr>
			<tr>
				<td class="head">Makeup: </td>
				<td>{{ ranking.makeup }}</td>
			</tr>
			<tr>
				<td class="head">Date Completed: </td>
				<td>{{ ranking.date_completed|date:'m/d/Y' }}</td>
			</tr>
			<tr>
				<td class="head">Report Count: </td>
				<td>{{ ranking.report_count }}</td>
			</tr>
			<tr>
				<td class="head">Games Seen: </td>
				<td>{{ ranking.games_seen }}</td>
			</tr>
			<tr>
				<td class="head">At Bats Seen: </td>
				<td>{{ ranking.ab_seen }}</td>
			</tr>
			
			<tr>
				<td class="head">Dates Seen: </td>
				<td colspan="3">{{ ranking.dates_seen }}</td>
			</tr>
	</table>
		</div>
	</div>
	


	<div class="row">
		<div class="col-xs-12 col-sm-4">
			{% if ranking.player_type == 'Position' or ranking.player_type == 'Both' %}
			<table id="scout" class="table table-responsive">
				<tr>
					<th class="head">Ratings</th>
					<th class="head">P</th>
					<th class="head">F</th>
				</tr>
				<tr>
					<td class="head">Hitting Ability:</td>
					<td>{{ ranking.ratings_hitting_ability_p }}</td>
					<td>{{ ranking.ratings_hitting_ability_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Raw Power:</td>
					<td>{{ ranking.ratings_raw_power_p }}</td>
					<td>{{ ranking.ratings_raw_power_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Game Power:</td>
					<td>{{ ranking.ratings_game_power_p }}</td>
					<td>{{ ranking.ratings_game_power_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Running Speed:</td>
					<td>{{ ranking.ratings_running_speed_p }}</td>
					<td>{{ ranking.ratings_running_speed_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Base Running:</td>
					<td>{{ ranking.ratings_base_running_p }}</td>
					<td>{{ ranking.ratings_base_running_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Arm Strength:</td>
					<td>{{ ranking.ratings_arm_strength_p }}</td>
					<td>{{ ranking.ratings_arm_strength_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Arm Accuracy:</td>
					<td>{{ ranking.ratings_arm_accuracy_p }}</td>
					<td>{{ ranking.ratings_arm_accuracy_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Fielding:</td>
					<td>{{ ranking.ratings_fielding_p }}</td>
					<td>{{ ranking.ratings_fielding_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Range:</td>
					<td>{{ ranking.ratings_range_p }}</td>
					<td>{{ ranking.ratings_range_f }}</td>
				</tr>
		</table>
		{% endif %}
			
			{% if ranking.player_type == 'Pitcher' or ranking.player_type == 'Both' %}
			
			<table id="scout" class="table table-responsive">
				<tr>
					<th class="head">Ratings</th>
					<th class="head">P</th>
					<th class="head">F</th>
					<th class="head">H</th>
					<th class="head">L</th>
					<th class="head">P Cmd</th>
					<th class="head">F Cmd</th>
				</tr>
				<tr>
					<td class="head">FB Velocity:</td>
					<td>{{ ranking.ratings_fb_velocity_p }}</td>
					<td>{{ ranking.ratings_fb_velocity_f }}</td>
					<td>{{ ranking.ratings_fb_velocity_h }}</td>
					<td>{{ ranking.ratings_fb_velocity_l }}</td>
					<td>{{ ranking.ratings_fb_velocity_pc }}</td>
					<td>{{ ranking.ratings_fb_velocity_fc }}</td>
				</tr>
				
				<tr>
					<td class="head">FB Movement:</td>
					<td>{{ ranking.ratings_fb_movement_p }}</td>
					<td>{{ ranking.ratings_fb_movement_f }}</td>
					<td colspan="4">{{ ranking.ratings_fb_movement_n }}</td>
				</tr>
			
				<tr>
					<td class="head">Curveball:</td>
					<td>{{ ranking.ratings_curve_p }}</td>
					<td>{{ ranking.ratings_curve_f }}</td>
					<td>{{ ranking.ratings_curve_h }}</td>
					<td>{{ ranking.ratings_curve_l }}</td>
					<td>{{ ranking.ratings_curve_pc }}</td>
					<td>{{ ranking.ratings_curve_fc }}</td>
				</tr>
				
				<tr>
					<td class="head">Slider:</td>
					<td>{{ ranking.ratings_slider_p }}</td>
					<td>{{ ranking.ratings_slider_f }}</td>
					<td>{{ ranking.ratings_slider_h }}</td>
					<td>{{ ranking.ratings_slider_l }}</td>
					<td>{{ ranking.ratings_slider_pc }}</td>
					<td>{{ ranking.ratings_slider_fc }}</td>
				</tr>
				
				<tr>
					<td class="head">Changeup:</td>
					<td>{{ ranking.ratings_change_p }}</td>
					<td>{{ ranking.ratings_change_f }}</td>
					<td>{{ ranking.ratings_change_h }}</td>
					<td>{{ ranking.ratings_change_l }}</td>
					<td>{{ ranking.ratings_change_pc }}</td>
					<td>{{ ranking.ratings_change_fc }}</td>
				</tr>
				
				<tr>
					<td class="head">Other:</td>
					<td>{{ ranking.ratings_other_p }}</td>
					<td>{{ ranking.ratings_other_f }}</td>
					<td>{{ ranking.ratings_other_h }}</td>
					<td>{{ ranking.ratings_other_l }}</td>
					<td>{{ ranking.ratings_other_pc }}</td>
					<td>{{ ranking.ratings_other_fc }}</td>
				</tr>
			
				<tr>
					<td class="head">Control:</td>
					<td>{{ ranking.ratings_control_p }}</td>
					<td>{{ ranking.ratings_control_f }}</td>
				</tr>
			
				<tr>
					<td class="head">Pitchability:</td>
					<td>{{ ranking.ratings_pitchability_p }}</td>
					<td>{{ ranking.ratings_pitchability_f }}</td>
				</tr>
				
				<tr>
					<td class="head">Delivery:</td>
					<td>{{ ranking.ratings_delivery_p }}</td>
					<td>{{ ranking.ratings_delivery_f }}</td>
				</tr>
				
				<tr>
					<td class="head">Arm Action:</td>
					<td>{{ ranking.ratings_arm_action_p }}</td>
					<td>{{ ranking.ratings_arm_action_f }}</td>
				</tr>
		</table>
			
			
			{% endif %}
		</div>	
		
		
		<div class="col-xs-12 col-sm-4">
			<table id="scout" class="table table-responsive">
				{% if ranking.player_type == 'Position' or ranking.player_type == 'Both' %}
					<tr>
						<th class="head" colspan="2">Running and Hitting</th>
					</tr>
					<tr>
						<td class="head">Hit Type:</td>
						<td>{{ ranking.hit_type }}</td>
					</tr>
					<tr>
						<td class="head">Hit Approach:</td>
						<td>{{ ranking.hit_approach }}</td>
					</tr>
					<tr>
						<td class="head">Time to 1B:</td>
						<td>{{ ranking.time_to_1b }}</td>
					</tr>

					<tr>
						<td class="head">Time to Right:</td>
						<td>{{ ranking.time_to_right }}</td>
					</tr>
				{% endif %}
				{% if ranking.player_type == 'Pitcher' or ranking.player_type == 'Both' %}
					<tr>
						<th class="head" colspan="2">Pitching</th>
					</tr>
					<tr>
						<td class="head">Arm Slot:</td>
						<td>{{ ranking.arm_slot }}</td>
					</tr>

					<tr>
						<td colspan="2" class="head">Delivery:</td>
					</tr>
					<tr>	
						<td colspan="2">{{ ranking.delivery }}</td>
					</tr>
				
					<tr>
						<td colspan="2" class="head">Arm Action:</td>
					</tr>
					<tr>	
						<td colspan="2">{{ ranking.arm_action }}</td>
					</tr>

				{% endif %}
				
		</table>
		</div>	
		
		
		
		
		
		
		<div class="col-xs-12 col-sm-4">
			<table id="scout" class="table table-responsive">
					<tr>
						<th class="head" colspan="2">Makeup</th>
					</tr>
				<tr>
					<td class="head">Athleticism:</td>
					<td>{{ ranking.makeup_athleticism }}</td>
				</tr>
			
				<tr>
					<td class="head">Aptitude:</td>
					<td>{{ ranking.makeup_aptitude }}</td>
				</tr>
			
				<tr>
					<td class="head">Character:</td>
					<td>{{ ranking.makeup_character }}</td>
				</tr>
			
				<tr>
					<td class="head">Dedication:</td>
					<td>{{ ranking.makeup_dedication }}</td>
				</tr>
			
				<tr>
					<td class="head">Instinct:</td>
					<td>{{ ranking.makeup_instinct }}</td>
				</tr>
			
				<tr>
					<td class="head">Aggressiveness:</td>
					<td>{{ ranking.makeup_aggressiveness }}</td>
				</tr>
			
				<tr>
					<td class="head">Confidence:</td>
					<td>{{ ranking.makeup_confidence }}</td>
				</tr>
			
				<tr>
					<td class="head">Maturity:</td>
					<td>{{ ranking.makeup_maturity }}</td>
				</tr>
			
				<tr>
					<td class="head">Competitiveness:</td>
					<td>{{ ranking.makeup_competitiveness }}</td>
				</tr>
		</table>
		</div>	
	</div>
	
	
	
	{% if ranking.show_catcher %}
	<div class="row">	
		<div class="col-xs-12 col-sm-6">
			<table id="scout" class="table table-responsive">
			<tr>
				<th colspan="2" class="head">Catcher Pros</th>
			</tr>
			<tr>
				<td class="head">Shows a primary and secondary position</td>
				<td>{% if ranking.catcher_1 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Footwork in primary is simple/balanced</td>
				<td>{% if ranking.catcher_2 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Footwork in secondary is simple/balanced</td>
				<td>{% if ranking.catcher_3 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Hands are soft and strong</td>
				<td>{% if ranking.catcher_4 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Stops the ball in the strikezone</td>
				<td>{% if ranking.catcher_5 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Stays balanced during the catch</td>
				<td>{% if ranking.catcher_6 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Gets into a good blocking position</td>
				<td>{% if ranking.catcher_7 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Reacts to ball in dirt easily</td>
				<td>{% if ranking.catcher_8 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Gets to his feet easily after block</td>
				<td>{% if ranking.catcher_9 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Clean transition to throwing hand</td>
				<td>{% if ranking.catcher_10 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Simple throwing action</td>
				<td>{% if ranking.catcher_11 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Gains ground to throw</td>
				<td>{% if ranking.catcher_12 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Ball keeps flight through the base</td>
				<td>{% if ranking.catcher_13 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Body size is durable</td>
				<td>{% if ranking.catcher_14 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Made somebody say 'wow'</td>
				<td>{% if ranking.catcher_15 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>	
			</table>
		</div>

		<div class="col-xs-12 col-sm-6">
			<table id="scout" class="table table-responsive">
			<tr>
				<th colspan="2" class="head">Catcher Cons</th>
			</tr>
			<tr>
			<td class="head">No difference in primary and secondary</td>
				<td>{% if ranking.catcher_16 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
			<td class="head">Footwork does not provide balance</td>
				<td>{% if ranking.catcher_17 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Hands are heavy at the catch</td>
				<td>{% if ranking.catcher_18 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Does not have strong hands</td>
				<td>{% if ranking.catcher_19 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Takes strikes out of strike zone</td>
				<td>{% if ranking.catcher_20 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Off balance when receiving</td>
				<td>{% if ranking.catcher_21 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Late reaction to block position</td>
				<td>{% if ranking.catcher_22 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Does not get into efficient block position</td>
				<td>{% if ranking.catcher_23 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Struggles to get up after block</td>
				<td>{% if ranking.catcher_24 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Trouble getting ball out of glove</td>
				<td>{% if ranking.catcher_25 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Arm action breaks rhythm</td>
				<td>{% if ranking.catcher_26 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Loses ground to throwing position</td>
				<td>{% if ranking.catcher_27 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Ball loses flight before the base</td>
				<td>{% if ranking.catcher_28 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Body size does not project as durable</td>
				<td>{% if ranking.catcher_29 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Was not noticeable</td>
				<td>{% if ranking.catcher_30 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			</table>
		</div>
	</div>
	{% endif %}
	
	
	
	
	
	{% if ranking.show_hitting %}
	<div class="row">	
		<div class="col-xs-12 col-sm-6">
			<table id="scout" class="table table-responsive">
			<tr>
				<th colspan="2" class="head">Hitting Pros</th>
			</tr>
			<tr>
				<td class="head">Starts relaxed</td>
				<td>{% if ranking.hitting_1 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Repeats his load</td>
				<td>{% if ranking.hitting_2 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Gets into hitting position on time</td>
				<td>{% if ranking.hitting_3 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Hands don't seperate too early</td>
				<td>{% if ranking.hitting_4 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Keeps rhythm from load to swing</td>
				<td>{% if ranking.hitting_5 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Has time to track the ball</td>
				<td>{% if ranking.hitting_6 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Swing has short path to the ball</td>
				<td>{% if ranking.hitting_7 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Weight transfers under control</td>
				<td>{% if ranking.hitting_8 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Hits against a firm front side</td>
				<td>{% if ranking.hitting_9 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Barrel stays in the zone naturally</td>
				<td>{% if ranking.hitting_10 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Ability to hit for average at next level</td>
				<td>{% if ranking.hitting_11 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Ability to hit for power at the next level</td>
				<td>{% if ranking.hitting_12 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Drives gaps</td>
				<td>{% if ranking.hitting_13 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Made somebody say 'wow'</td>
				<td>{% if ranking.hitting_14 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			</table>
		</div>

		<div class="col-xs-12 col-sm-6">
			<table id="scout" class="table table-responsive">
			<tr>
				<th colspan="2" class="head">Hitter Cons</th>
			</tr>
			<tr>
			<td class="head">Tense in stance</td>
				<td>{% if ranking.hitting_16 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
			<td class="head">Does not repeat his load</td>
				<td>{% if ranking.hitting_17 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Late getting into hitting position</td>
				<td>{% if ranking.hitting_18 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Too early into hitting position</td>
				<td>{% if ranking.hitting_19 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Hands seperate too early and get lost</td>
				<td>{% if ranking.hitting_20 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Loses rhythm from load to swing</td>
				<td>{% if ranking.hitting_21 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Doesn't have time to track ball</td>
				<td>{% if ranking.hitting_22 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Weight sticks on backside</td>
				<td>{% if ranking.hitting_23 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Swing path is long to the ball</td>
				<td>{% if ranking.hitting_24 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Front side is weak</td>
				<td>{% if ranking.hitting_25 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Barrel is in and out of zone quickly</td>
				<td>{% if ranking.hitting_26 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Does not have potential for power</td>
				<td>{% if ranking.hitting_27 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Does not drive through the ball naturally</td>
				<td>{% if ranking.hitting_28 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Was not noticeable</td>
				<td>{% if ranking.hitting_29 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			</table>
		</div>
	</div>
	{% endif %}
	
	
	
	{% if ranking.show_infield %}
	<div class="row">	
		<div class="col-xs-12 col-sm-6">
			<table id="scout" class="table table-responsive">
			<tr>
				<th colspan="2" class="head">Infield Pros</th>
			</tr>
			<tr>
				<td class="head">Efficient first step in correct direction</td>
				<td>{% if ranking.infield_1 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Feet are under control at catch</td>
				<td>{% if ranking.infield_2 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Hands are under control at catch</td>
				<td>{% if ranking.infield_3 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Glove is relaxed and under the ball</td>
				<td>{% if ranking.infield_4 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Catch is made out in front of body</td>
				<td>{% if ranking.infield_5 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Has flow through the ball</td>
				<td>{% if ranking.infield_6 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Clean transition to throwing hand</td>
				<td>{% if ranking.infield_7 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Easy Arm Action</td>
				<td>{% if ranking.infield_8 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Strong Arm</td>
				<td>{% if ranking.infield_9 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Accurate Arm</td>
				<td>{% if ranking.infield_10 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Has the ability to Catch, Step and Throw</td>
				<td>{% if ranking.infield_11 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Made somebody say 'Wow!'</td>
				<td>{% if ranking.infield_12 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			</table>
		</div>

		<div class="col-xs-12 col-sm-6">
			<table id="scout" class="table table-responsive">
			<tr>
				<th colspan="2" class="head">Infield Cons</th>
			</tr>
			<tr>
			<td class="head">Slow first step losing ground</td>
				<td>{% if ranking.infield_16 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
			<td class="head">Feet are out of control at catch</td>
				<td>{% if ranking.infield_17 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
			<td class="head">Hands are heavy at the catch</td>
				<td>{% if ranking.infield_18 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
			<td class="head">Hands start above and jab to ball</td>
				<td>{% if ranking.infield_19 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
			<td class="head">Catch is made under body</td>
				<td>{% if ranking.infield_20 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Does not move through the ball</td>
				<td>{% if ranking.infield_21 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Dificult transition to throw hand</td>
				<td>{% if ranking.infield_22 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Long arm action</td>
				<td>{% if ranking.infield_23 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Weak arm</td>
				<td>{% if ranking.infield_24 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Inaccurate arm</td>
				<td>{% if ranking.infield_25 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Can't catch and throw in 1 step</td>
				<td>{% if ranking.infield_26 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Was not noticeable</td>
				<td>{% if ranking.infield_27 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			</table>
		</div>
	</div>
	{% endif %}
	
	
	
	
	{% if ranking.show_outfield %}
	<div class="row">	
		<div class="col-xs-12 col-sm-6">
			<table id="scout" class="table table-responsive">
			<tr>
				<th colspan="2" class="head">Outfield Pros</th>
			</tr>
			<tr>
				<td class="head">Efficient reads off the bat</td>
				<td>{% if ranking.outfield_1 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Takes proper angles to the ball</td>
				<td>{% if ranking.outfield_2 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Feet are under control at the catch</td>
				<td>{% if ranking.outfield_3 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Positions body well for catch</td>
				<td>{% if ranking.outfield_4 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Proper footwork after the catch</td>
				<td>{% if ranking.outfield_5 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Clean transfer to throwing hand</td>
				<td>{% if ranking.outfield_6 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Clean arm action, creates backspin</td>
				<td>{% if ranking.outfield_7 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Has a rhythm from catch to throw</td>
				<td>{% if ranking.outfield_8 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Strong arm</td>
				<td>{% if ranking.outfield_9 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Accurate arm</td>
				<td>{% if ranking.outfield_10 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Made someone say 'wow'</td>
				<td>{% if ranking.outfield_11 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			</table>
		</div>

		<div class="col-xs-12 col-sm-6">
			<table id="scout" class="table table-responsive">
			<tr>
				<th colspan="2" class="head">Outfield Cons</th>
			</tr>
			<tr>
			<td class="head">Late jump to the ball off bat</td>
				<td>{% if ranking.outfield_16 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
			<td class="head">Angles to the ball are too short</td>
				<td>{% if ranking.outfield_17 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Feet are out of control at the catch</td>
				<td>{% if ranking.outfield_18 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">In a bad position to make catch</td>
				<td>{% if ranking.outfield_19 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Proper footwork after the catch</td>
				<td>{% if ranking.outfield_20 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Difficult transfer to throwing hand</td>
				<td>{% if ranking.outfield_21 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Arm action creates loss of ball flight</td>
				<td>{% if ranking.outfield_22 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Loses momentum from catch to throw</td>
				<td>{% if ranking.outfield_23 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Weak arm</td>
				<td>{% if ranking.outfield_24 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Inaccurate arm</td>
				<td>{% if ranking.outfield_25 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			<tr>
				<td class="head">Was not noticeable</td>
				<td>{% if ranking.outfield_26 %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
			</tr>
			</table>
		</div>
	</div>
	{% endif %}
	
	
	
	
	<div class="row">
		<div class="col-xs-12">
			<table id="scout" class="table table-responsive">	
			<tr>
				<td class="head" colspan="6">Physical Description: (Injuries, Glasses, Contacts, Growth Potential, Overall Strength)</td>
			</tr>	
			<tr>
				<td colspan="6" class="left">{{ ranking.note }}</td>
			</tr>
			
			<tr>
				<td class="head" colspan="6">Abilities:</td>
			</tr>
			<tr>
				<td colspan="6" class="left">{{ ranking.note2 }}</td>
			</tr>
			
			<tr>
				<td class="head" colspan="6">Weaknesses:</td>
			</tr>
			<tr>
				<td colspan="6" class="left">{{ ranking.note3 }}</td>
			</tr>
			
			<tr>
				<td class="head" colspan="6">Signability and Player Summation:</td>
			</tr>
			<tr>
				<td colspan="6" class="left">{{ ranking.note4 }}</td>
			</tr>
		</table>
		</div>
	</div>
			
		
	
		
	{% endfor %}
	

{% endblock %}