{% extends "base.html" %}

{% block content %}

	<script>
		$(document).ready(function () {
			$( "#scout-nav" ).addClass("active")
		});
	</script>


<div class="row black-on-white">

		<h3>MyPinnacle Scout</h3>
	
	
	
	{% for ranking in rankings %}
	
	<style>
		#scout td { padding: 5px; text-align: center; }
		#scout th { padding: 5px; text-align: center; font-size: 1.5em; }
		#scout td, #scout th { border: 1px solid #dedede }
		#scout .head { font-weight: bold; background-color: #444; text-align: left; }
		#scout .left { text-align: left; }
		
	</style>
	
		<table id="scout">
			<tr>
				<th colspan="3">{{ ranking.account.user.first_name }} {{ ranking.account.user.last_name }}</th>
				<th>{% for position in ranking.account.positions %}{% ifequal position.position_type "Primary" %}{{ position.position }}{% endifequal %}{% endfor %}</th>
				<th>Role: {{ ranking.role }}</th>
				<th>OFP: {{ranking.ofp }}</th>
			</tr>
			<tr>
				<td class="head">Scout: </td>
				<td class="left">{{ ranking.scout }}</td>
				<td class="head">DOB: </td>
				<td>{{ ranking.account.dob }}</td>
				<td class="head">Makeup: </td>
				<td>{{ ranking.makeup }}</td>
			</tr>
			<tr>
				<td class="head">School: </td>
				<td class="left">{{ ranking.account.high_school }}</td>
				<td class="head">Height: </td>
				<td>{% for height in ranking.account.heights %}{% if forloop.last %}{{ height.height_feet }}' {{ height.height_inches }}{% endif %}{% endfor %}</td>
				<td class="head">Date Completed: </td>
				<td>{{ ranking.date_completed }}</td>
			</tr>
			<tr>
				<td class="head">College: </td>
				<td class="left">{{ ranking.account.college }}</td>
				<td class="head">Weight: </td>
				<td>{% for weight in ranking.account.weights %}{% if forloop.last %}{{ weight.weight }}{% endif %}{% endfor %}</td>
				<td class="head">Report Count: </td>
				<td>{{ ranking.report_count }}</td>
			</tr>
			<tr>
				<td class="head">Grad Date: </td>
				<td class="left">{{ ranking.account.grad_year }}</td>
				<td class="head">Bats: </td>
				<td>{{ ranking.account.bats }}</td>
				<td class="head">Games Seen: </td>
				<td>{{ ranking.games_seen }}</td>
			</tr>
			<tr>
				<td class="head">Class/Eligibility: </td>
				<td>{{ ranking.account.grad_class }}/{{ ranking.account.eligible }}</td>
				<td class="head">Throws: </td>
				<td>{{ ranking.account.throws }}</td>
				<td class="head">At Bats Seen: </td>
				<td>{{ ranking.ab_seen }}</td>
			</tr>
			
			<tr>
				<td class="head">Club/Nat'l Team: </td>
				<td>{{ ranking.account.club }}</td>
				<td class="head">Dates Seen: </td>
				<td colspan="3">{{ ranking.dates_seen }}</td>
			</tr>
			
			<tr>
				<td class="head">Address: </td>
				<td colspan="3" class="left">
					{% for personal in ranking.account.personals %}
						{{ personal.street }}<br>{{ personal.city }}, {{ personal.state }} {{ personal.zipcode }}
					{% endfor %}
				</td>
				<td class="head">Phone: </td>
				<td class="left" colspan="3">
					{% for personal in ranking.account.personals %}
						{{ personal.phone }}
					{% endfor %}
				</td>
			</tr>

				{% for scale in ranking.ranks %}
					<tr>
						<td class="head" colspan="2">{{ scale.scale.name }}</td>
						<td>{{ scale.rank }}</td>
						<td colspan="3"></td>
					</tr>
				{% endfor %}
			
			<tr>
				<td class="head" colspan="6">Physical Description: (Injuries, Glasses, Contacts, Growth Potential, Overall Strength)</td>
			</tr>	
			<tr>
				<td colspan="6" class="left">{{ ranking.note }}</td>
			</tr>
			
			<tr>
				<td class="head" colspan="6">Abilities:</td>
			</tr>
			<tr>
				<td colspan="6" class="left">{{ ranking.note2 }}</td>
			</tr>
			
			<tr>
				<td class="head" colspan="6">Weaknesses:</td>
			</tr>
			<tr>
				<td colspan="6" class="left">{{ ranking.note3 }}</td>
			</tr>
			
			<tr>
				<td class="head" colspan="6">Signability and Player Summation:</td>
			</tr>
			<tr>
				<td colspan="6" class="left">{{ ranking.note4 }}</td>
			</tr>
			
		</table>
	
		
	{% endfor %}
	

{% endblock %}