{% extends "base.html" %} {% block content %}

<script>
	$(document).ready(function () {
		$("#account-nav").addClass("active");
		$('.carousel').carousel()
		$('a').click(function(e) {
			var elem = $($(e.target)[0]).parent();
			if ($(elem).attr('data-toggle') === 'modal') {
				e.preventDefault();
				$('#modal div.modal-content').load($(elem).attr('href'));
			}
		});
	});

</script>

{% for account in object_list %}

<div class="row">

	{% if request.GET.alert %}
	<div class="col-md-12">
		<div class="alert alert-danger" role="alert">
			{{ request.GET.alert }}
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		</div>
	</div>
	{% endif %}

		<div class="black-on-white">
				
			
				<div class="row">
					<div class="col-xs-12 col-sm-7">						
						
						{% if account.carousel_images %}
						<div class="slider_container">
							<div class="flexslider">
								<ul class="slides">

									{% for carousel_image in account.carousel_images %}				
									<li>
										<div style="background-image: url('{% if carousel_image.image %}{{ carousel_image.image }}{% endif %}'); {% if carousel_image.image %}{% else %}height: 140px;{% endif %}" class="carousel-image-holder">
											<div class="flex-caption">
												<p>{{ carousel_image.caption }}</p>
											</div>
										</div>
									</li>
									{% endfor %}

								</ul>

							</div>
						</div>
						{% endif %}

					</div>
					
					<div class="col-sm-5 hidden-xs">
						{% if account.memos %}
						
						<p><strong class="subhead">Messages <span class="pull-right"><a><span class="glyphicon glyphicon-envelope"></span></a><span class="badge pull-right">{{ account.memos_count|length }}</span></span></strong></p>
						
							<div class="memo_wrapper">
							{% for memo in account.memos %}				
								<div class="media {% if memo.is_new %}mail_active{% endif %}">
								  <a class="media-left">
									<span class="glyphicon glyphicon-envelope"></span>
								  </a>
								  <div class="media-body">
									<h4 class="media-heading">{{ memo.note }}</h4>
									  <small>{{ memo.created_date }}</small>
								  </div>
								</div>
							{% endfor %}
							</div>
						
						{% endif %}
					</div>
					
				</div>
			
				<div class="row">
					<div class="col-md-12">&nbsp;</div>
				</div>
			
			
				<div class="row">
					<div class="col-md-12"><h3>{{ account.user.first_name }} {{ account.user.last_name }}</h3></div>
				</div>
			
				<div class="row">
					<div class="col-xs-12 col-sm-2 nopad">

						{% if account.profile_image %}
								<div class="col-xs-6 col-sm-12">
								<img src="{{ account.photo }}" class="img-responsive img-rounded">
								<span class="abs-bot pull-left"><a data-toggle="modal" href="{% url 'account_photo_add' pk=account.id %}" data-target="#modal"><span class="glyphicon glyphicon-picture"></span></a></span>
								</div>
						{% else %}
								<div class="col-xs-6 col-sm-12">
								<img src="/static/css/images/default.jpg" class="img-responsive img-rounded">
									<span class="abs-bot pull-left"><a data-toggle="modal" href="{% url 'account_photo_add' pk=account.id %}" data-target="#modal"><span class="glyphicon glyphicon-picture"></span></a></span>
								</div>
						{% endif %}
						
						<div class="col-sm-12 hidden-xs">
							<hr>
						</div>
						
						
						{% if account.team_image %}
								<div class="col-xs-6 col-sm-12">
									<img src="{{ account.team_photo }}" class="img-responsive img-rounded spacer2">
									<span class="abs-bot pull-left"><a data-toggle="modal" href="{% url 'account_team_photo_add' pk=account.id %}" data-target="#modal"><span class="glyphicon glyphicon-picture"></span></a></span>
								</div>								
						{% else %}
								<div class="col-xs-6 col-sm-12">
								<img src="http://static.starladder.tv/images/b_default_team_logo.jpg" class="img-responsive img-rounded">
									<span class="abs-bot pull-left"><a data-toggle="modal" href="{% url 'account_team_photo_add' pk=account.id %}" data-target="#modal"><span class="glyphicon glyphicon-picture"></span></a></span>
								</div>
						{% endif %}
						
						<div class="col-xs-12 visible-xs">&nbsp;</div>
						
						<div class="col-xs-12 visible-xs">
						{% if account.memos %}
						
						<p><strong class="subhead">Messages <span class="pull-right"><a><span class="glyphicon glyphicon-envelope"></span></a><span class="badge pull-right">{{ account.memos_count|length }}</span></span></strong></p>
						
							<div class="memo_wrapper">
							{% for memo in account.memos %}				
								<div class="media {% if memo.is_new %}mail_active{% endif %}">
								  <a class="media-left">
									<span class="glyphicon glyphicon-envelope"></span>
								  </a>
								  <div class="media-body">
									<h4 class="media-heading">{{ memo.note }}</h4>
									  <small>{{ memo.created_date }}</small>
								  </div>
								</div>
							{% endfor %}
							</div>
						
						{% endif %}
						<div class="hidden">{{ account.see_memos }}</div>
						</div>

					</div>

					
					<div class="col-xs-12 col-sm-4">
						
						
						{% if account.personals %} 
							{% for personal in account.personals %}
								<p><strong class="subhead">Personal<span class=" pull-right"><a data-toggle="modal" href="{% url 'account_personal_edit' pk=personal.id %}" data-target="#modal"><span class="glyphicon glyphicon-user"></span></a></span></strong></p>

								<p>
									<strong>Contact:</strong><br />
									{{ personal.street }}<br>{{ personal.city }}, {{personal.state}} {{ personal.zipcode }}
									<br><span class="glyphicon glyphicon-phone"></span> {{ personal.phone}}
									<br><A href="mailto:{{ personal.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ personal.email }}</A>
								</p>
						

							<p>
									<strong>Social Accounts:</strong><br />
							</p>

						
						{% if personal.facebook %}
							<p>
								<a href="http://facebook.com/{{ personal.facebook }}"><i class="fa fa-facebook fa"></i> {{ personal.facebook }}</a>
							</p>
						{% endif %}
						
						
						{% if personal.twitter %}
							<p>
								<a href="http://twitter.com/{{ personal.twitter }}"><i class="fa fa-twitter fa"></i> {{ personal.twitter }}</a>
							</p>
						{% endif %}
						
						{% if personal.instagram %}
							<p>
								<a href="http://instagram.com/{{ personal.instagram }}"><i class="fa fa-instagram fa"></i> {{ personal.instagram }}</a>
							</p>
						{% endif %}
						
							{% endfor %}
						{% else %}
							<p><strong class="subhead">Personal<span class=" pull-right"><a data-toggle="modal" href="{% url 'account_personal_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span></strong></p>
						<p>Add Personal Information using the <span class="glyphicon glyphicon-plus"></span> icon above</p>
						{% endif %}
						</p>

						<p>
							<strong>Date of Birth:</strong><br />
							{{ account.dob }}
						</p>
						
						<p>
							<strong>Bats / Throws:</strong><br />
							{{ account.bats }} / {{ account.throws }}
						</p>

					</div>
					
					<div class="col-xs-12 col-sm-6">
						
						<p><strong class="subhead">Schools/Teams<span class=" pull-right"><a data-toggle="modal" href="{% url 'account_school_add' pk=account.id %}" data-target="#modal"><span class="glyphicon glyphicon-book"></span></a></span></strong></p>
						<p>
							<strong>High School / College</strong><br />
							{% if account.high_school %}{{account.high_school}}{% endif %}
							{% if account.college %}/ {{account.college}}{% endif %}
						</p>

						<p>
							<strong>Club / National Team</strong><br />
							{{ account.club }}
						</p>
						
						<p>
							<strong>Graduation Year</strong><br />
							{{ account.grad_year }}
						</p>
						
						<p>
							<strong>Class / Eligibility</strong><br />
							{{ account.grad_class }} / {{ account.eligible }}
						</p>

					</div>

			</div>
	
			<div class="row">&nbsp;</div>
	
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p>
						<strong class="subhead">High School Coach(s) <span class=" pull-right"><a data-toggle="modal" href="{% url 'account_coach_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span></strong>
						{% for coach in account.coaches %} 
						<div class="row">
							<div class="col-md-12">{{ coach.fname }} {{ coach.lname }}</div>
						</div>
						<div class="row">
							<div class="col-md-4"><span class="glyphicon glyphicon-phone"></span> {{ coach.phone}}</div>
							<div class="col-md-8"><A href="mailto:{{ coach.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ coach.email }}</A></div>
						</div>

						{% endfor %}
					</p>
				</div>	
			
				<div class="col-xs-12 col-md-6">
					<p>
						<strong class="subhead">Parent Contact <span class=" pull-right"><a data-toggle="modal" href="{% url 'account_parent_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span></strong>

						{% for parent in account.parents %} 
						<div class="row">
							<div class="col-md-12">{{ parent.fname }} {{ parent.lname }}</div>
						</div>
						<div class="row">
							<div class="col-md-4"><span class="glyphicon glyphicon-phone"></span> {{ parent.phone}}</div>
							<div class="col-md-8"><A href="mailto:{{ parent.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ parent.email }}</A></div>
						</div>

						{% endfor %}

					</p>
				</div>
			</div>
			

<div class="row">
	<div class="col-xs-12">
		<br>
	</div>
</div>
			
		<div class="row">
			<div class="col-xs-12 col-md-6">
				
				<div class="row">
					<div class="col-xs-12 col-sm-6 border-right">
					<p>
						<strong class="subhead">Height <span class=" pull-right"><a data-toggle="modal" href="{% url 'account_height_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span></strong>
						<ul class="small-list">
							{% for height in account.heights %}
							<li>{{ height.height_feet }}' {{ height.height_inches }}"  <small class="pull-right">{{ height.created_date|date:"N j" }}</small></li>
							{% endfor %}
						</ul>
					</p>
					</div>
				
					<div class="col-xs-12 col-sm-6 ">
					<p>
						<strong class="subhead">Weight <span class=" pull-right"><a data-toggle="modal" href="{% url 'account_weight_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span></strong>
						<ul class="small-list">
							{% for weight in account.weights %}
							<li>{{ weight.weight }} lbs.  <small class="pull-right">{{ weight.created_date|date:"N j" }}</small></li>
							{% endfor %}
						</ul>
					</p>
					</div>
			
				</div>
	
			</div>


			<div class="col-xs-12 col-md-6">
				<div class="row">
					<div class="col-xs-12 col-sm-6 border-right">
					<p>
						<strong class="subhead">Positions <span class=" pull-right"><a data-toggle="modal" href="{% url 'account_position_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span></strong>
						<ul class="small-list">
							{% for position in account.positions %}
								<li>{{position.position_type}} {{ position.position }} <small class="pull-right">{{ position.created_date|date:"N j" }}</small></li>
							{% endfor %}
						</ul>
					</p>
					</div>
					<div class="col-xs-12 col-sm-6">			
					<p>
						<strong class="subhead">Scores <span class=" pull-right"><a data-toggle="modal" href="{% url 'account_score_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span></strong>
						<ul class="small-list">
							{% for score in account.scores %}
								<li>{{ score.score_type }} {{score.score_data}} <small class="pull-right">{{ score.created_date|date:"N j" }}</small></li>
							{% endfor %}
						</ul>
					</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% empty %}
<div class="row">	
	<div class="col-md-12">
		<div class="black-on-white">
			<h2>Please login to view your data</h2>
		</div>
	</div>
</div>
{% endfor %} {% endblock %}
