{% extends "base.html" %} {% block content %}

<script>
	$(document).ready(function () {
		$("#account-nav").addClass("active");
		
		$('a').click(function(e) {
			var elem = $($(e.target)[0]).parent();
			if ($(elem).attr('data-toggle') === 'modal') {
				e.preventDefault();
				$('#modal div.modal-content').load($(elem).attr('href'));
			}
		});
	});

</script>

{% for account in object_list %}

<div class="row">

	{% if request.GET.alert %}
	<div class="col-md-12">
		<div class="alert alert-danger" role="alert">
			{{ request.GET.alert }}
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		</div>
	</div>
	{% endif %}
	
	
	<div class="col-md-12">
		<div class="black-on-white">
				<div class="row">
					<div class="col-md-12"><h3>{{ user.first_name }} {{ user.last_name }}</h3></div>
				</div>
			
				<div class="row">
					<div class="col-md-6">
						<span class=" pull-right"><a data-toggle="modal" href="{% url 'account_photo_add' pk=account.id %}" data-target="#modal"><span class="glyphicon glyphicon-picture"></span></a></span>
						{% if account.profile_image %}
							<img src="{{ account.photo }}" class="img-responsive img-thumbnail">
						{% else %}
							<img src="/static/css/images/default.jpg" class="img-responsive img-thumbnail">
						{% endif %}
					</div>
					
					<div class="col-md-6">
						
						{% if account.personals %} 
							{% for personal in account.personals %}
								<p><strong>Personal<span class=" pull-right"><a data-toggle="modal" href="{% url 'account_personal_edit' pk=personal.id %}" data-target="#modal"><span class="glyphicon glyphicon-user"></span></a></span></strong></p>

								<div class="row">
									<div class="col-md-12">{{ personal.street }}<br>{{ personal.city }}, {{personal.state}} {{ personal.zipcode }}</div>
								</div>
								<div class="row">
									<div class="col-md-12"><span class="glyphicon glyphicon-phone"></span> {{ personal.phone}}</div>
									<div class="col-md-12"><A href="mailto:{{ personal.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ personal.email }}</A></div>
								</div>
							{% endfor %}
						{% else %}
							<p><strong>Personal<span class=" pull-right"><a data-toggle="modal" href="{% url 'account_personal_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span></strong></p>
						<p>Add Personal Information using the <span class="glyphicon glyphicon-plus"></span> icon above</p>
						{% endif %}
						
						<hr>						
						
						<p><strong>School<span class=" pull-right"><a data-toggle="modal" href="{% url 'account_school_add' pk=account.id %}" data-target="#modal"><span class="glyphicon glyphicon-book"></span></a></span></strong></p>
						<p>
							<strong>High School / College</strong><br />
							{% if account.high_school %}{{account.high_school}}{% endif %}
							{% if account.college %}/ {{account.college}}{% endif %}
						</p>
						<p>
							<strong>Graduation Year</strong><br />
							{{ account.grad_year }}
						</p>
			
						
					</div>
				</div>
			
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
			</div>
			
			{% comment %}
			<h3>Target Schools<span class=" pull-right"><a data-toggle="modal" href="{% url 'account_schools_choose' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span></h3>	
				<div class="row">
					<div class="col-md-12">
							{% for school in account.target_lists %} 
								Chosen School: {{ school.chosen_school }}<br>
								{{ school.target_schools }}
							{% endfor %}
					</div>
				</div>
			{% endcomment %}


			<div class="row">
				<div class="col-md-6">
					<p>
						<strong>High School Coach(s)</strong><span class=" pull-right"><a data-toggle="modal" href="{% url 'account_coach_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span><br />
						{% for coach in account.coaches %} 
						<div class="row">
							<div class="col-md-12">{{ coach.fname }} {{ coach.lname }}</div>
						</div>
						<div class="row">
							<div class="col-md-4"><span class="glyphicon glyphicon-phone"></span> {{ coach.phone}}</div>
							<div class="col-md-8"><A href="mailto:{{ coach.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ coach.email }}</A></div>
						</div>

						<hr>
						{% endfor %}
					</p>
				</div>	
			
				<div class="col-md-6">
					<p>
						<strong>Parent Contact</strong><span class=" pull-right"><a data-toggle="modal" href="{% url 'account_parent_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span><br />

						{% for parent in account.parents %} 
						<div class="row">
							<div class="col-md-12">{{ parent.fname }} {{ parent.lname }}</div>
						</div>
						<div class="row">
							<div class="col-md-4"><span class="glyphicon glyphicon-phone"></span> {{ parent.phone}}</div>
							<div class="col-md-8"><A href="mailto:{{ parent.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ parent.email }}</A></div>
						</div>

						<hr>
						{% endfor %}

					</p>
				</div>
			</div>
			
			
		<div class="row">
			<div class="col-xs-12 col-md-6">
			<p>
				<strong>Height</strong><span class=" pull-right"><a data-toggle="modal" href="{% url 'account_height_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span><br />
				<ul>
					{% for height in account.heights|slice:":10" %}
					<li>{{ height.height_feet }}' {{ height.height_inches }}"  <small>{{ height.created_date|date:"N j" }}</small></li>
					{% endfor %}
				</ul>
			</p>
				
			</div>
	
			<div class="col-xs-12 col-md-6">
			<p>
				<strong>Weight</strong> <span class=" pull-right"><a data-toggle="modal" href="{% url 'account_weight_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span><br />
				<canvas id="weight-chart"></canvas>
				
				<script>
					var WeightChartData = {
						labels : [{% for weight in account.weights|slice:":10" %}'{{ weight.created_date|date:"N j" }}'{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
						datasets : [
							{
								label: "Weight Chart",
								fillColor : "rgba(220,220,220,0.2)",
								strokeColor : "rgba(220,220,220,1)",
								pointColor : "rgba(220,220,220,1)",
								pointStrokeColor : "#fff",
								pointHighlightFill : "#fff",
								pointHighlightStroke : "rgba(220,220,220,1)",
								data : [{% for weight in account.weights|slice:":10" %}{{ weight.weight }},{% endfor %}]
							}
						]

					}
				</script>
			</p>
			</div>
	</div>
	
		<div class="row">
			<div class="col-md-6">
			<p>
				<strong>Positions</strong><span class=" pull-right"><a data-toggle="modal" href="{% url 'account_position_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span><br />
				{% for position in account.positions %} {{position.position_type}} {{ position.position }} - {{ position.created_date }}
				<br>{% endfor %}
			</p>
			</div>
			<div class="col-md-6">			
			<p>
				<strong>Scores</strong><span class=" pull-right"><a data-toggle="modal" href="{% url 'account_score_add' %}" data-target="#modal"><span class="glyphicon glyphicon-plus"></span></a></span><br />
				{% for score in account.scores %} {{ score.score_type }} {{score.score_data}} - {{ score.created_date }}
				<br>{% endfor %}
			</p>
			</div>
		</div>
	
	
		
		</div>
		
	</div>
	



</div>

<script>
	window.onload = function(){
		var ctx = document.getElementById("weight-chart").getContext("2d");
		window.myLine = new Chart(ctx).Line(WeightChartData, {
			responsive: true
		});
	}
</script>					

{% empty %}
<div class="row">	
	<div class="col-md-12">
		<div class="black-on-white">
			<h2>Please login to view your data</h2>
		</div>
	</div>
</div>
{% endfor %} {% endblock %}
